# Decision Tree Classifier

Decision trees are the building blocks of a random forest algorithm. A decision tree is a decision support technique that forms a tree-like structure. An overview of decision trees will help us understand how random forest algorithms work.  

A decision tree consists of three components: decision nodes, leaf nodes, and a root node. A decision tree algorithm divides a training dataset into branches, which further segregate into other branches. This sequence continues until a leaf node is attained. The leaf node cannot be segregated further.  

Entropy is a metric for calculating uncertainty. Information gain is a measure of how uncertainty in the target variable is reduced, given a set of independent variables.

Theory  

No Regression Line fits in due to no correlation  
We cannot draw a line to seperate classes  
Alot of If and Else statements are used here

In [1]:
import pandas as pd

df = pd.read_csv("weight-height.csv")

In [17]:
df.head()

  Gender     Height      Weight  Likeness
0   Male  73.847017  241.893563         0
1   Male  68.781904  162.310473         0
2   Male  74.110105  212.740856         0
3   Male  71.730978  220.042470         0
4   Male  69.881796  206.349801         0

In [28]:
df['Likeness'] = pd.Series(random.choices(['Biryani','Pakora','Samosa'], weights=[3, 2, 1], k=len(df)))

In [29]:
df.head()

  Gender     Height      Weight Likeness
0   Male  73.847017  241.893563  Biryani
1   Male  68.781904  162.310473  Biryani
2   Male  74.110105  212.740856   Pakora
3   Male  71.730978  220.042470  Biryani
4   Male  69.881796  206.349801  Biryani

In [32]:
df['Gender'] = df['Gender'].replace('Male', 1)
df['Gender'] = df['Gender'].replace('Female', 0)

In [33]:
df

      Gender     Height      Weight Likeness
0          1  73.847017  241.893563  Biryani
1          1  68.781904  162.310473  Biryani
2          1  74.110105  212.740856   Pakora
3          1  71.730978  220.042470  Biryani
4          1  69.881796  206.349801  Biryani
...      ...        ...         ...      ...
9995       0  66.172652  136.777454   Samosa
9996       0  67.067155  170.867906   Samosa
9997       0  63.867992  128.475319   Pakora
9998       0  69.034243  163.852461  Biryani
9999       0  61.944246  113.649103   Pakora

[10000 rows x 4 columns]

In [38]:
X = df[['Gender' , 'Weight']]
y = df[['Likeness']]

In [41]:
X

      Gender      Weight
0          1  241.893563
1          1  162.310473
2          1  212.740856
3          1  220.042470
4          1  206.349801
...      ...         ...
9995       0  136.777454
9996       0  170.867906
9997       0  128.475319
9998       0  163.852461
9999       0  113.649103

[10000 rows x 2 columns]

In [40]:
y

     Likeness
0     Biryani
1     Biryani
2      Pakora
3     Biryani
4     Biryani
...       ...
9995   Samosa
9996   Samosa
9997   Pakora
9998  Biryani
9999   Pakora

[10000 rows x 1 columns]

In [54]:
#Machine Learning Algorithm

from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier().fit(X , y)

In [66]:
print(model.predict([[1, 2005]]))

['Biryani']

# Model Evaluation

In [96]:
from sklearn.model_selection import train_test_split

X_train, X_test , y_train, y_test = train_test_split(X , y , test_size= 0.2 , random_state= 4) # 80% for training data and 20% for testing

model = DecisionTreeClassifier().fit(X, y)

predicted_values = model.predict(X_test)

from sklearn.metrics import accuracy_score

for i in range(10):
    score = accuracy_score(y_test, predicted_values)
    print(score)

0.999
0.999
0.999
0.999
0.999
0.999
0.999
0.999
0.999
0.999

# Train and Save your Model using joblib

In [100]:
import joblib

#Saving the model for future use
joblib.dump(model, 'Foodie.joblib')

['Foodie.joblib']

In [104]:
#Importing from joblib

Foodie = joblib.load('Foodie.joblib')

In [105]:
Foodie

DecisionTreeClassifier()

In [109]:
Foodie.predict([[1 , 45]])

array(['Samosa'], dtype=object)

# Look into what happened

In [123]:
from sklearn import tree
tree.export_graphviz(model, 
                     out_file = 'Foodie.dot', 
                     feature_names = ['Age', 'Gender'], 
                     
                     label = 'all', 
                     rounded = True, 
                     filled = True)